@charset "UTF-8";

/*
    Paleta de Cores
    #1C71A6 Azul
    #2A95BF Azul
    #5FC2D9 Azul
    #60BFBF Verde
    #010D00 Preto
*/

*{
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #5FC2D9;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login{
    background-color: white;
    width: 250px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.397);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem{
    display: block;
    background: #1C71A6 url(../imagens/logoSenai.jpg) no-repeat;
    background-position: center;
    background-size: contain;
    height: 66px;
}

section#login > div#formulario{
    padding: 10px;
    display: block;
}

div#formulario{
    text-align: center;
    margin-bottom: 10px;

}

div#formulario > p{
    font-size: 0.8em;
}

div.campo > label{
    display: none;
}

div.campo > input{
   background-color: #72cfcf94;
   font-size: 1em;
   width: calc(100% - 29px);
   height: 100%;
   border: 0px;
   border-radius: 8px;
   padding: 4px;
}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}

form > div.campo{
    background-color: #2A95BF;
    border: 2px solid #2A95BF;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 5px;
    margin: 8px 0px;

}

form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #60BFBF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

form > input[type=submit]:hover{
    background-color: #60bfbfbb;
}

form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    
    margin-top: 5px;
    background-color: white;
    border: 1px solid #60BFBF;
    border-radius: 5px;
    text-decoration: none ;
    color: #1d3d3d;
}

form > a.botao > i {
    font-size: 0.8em;
}

form > a.botao:hover{
    background-color: #72cfcf;
}